<nav id="mainNavbar2" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">DOPEBOI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/gallery">GALLERY</a>
                <a class="nav-link" href="/shopping">SHOPPING</a>
                <a class="nav-link" href="/account">ACCOUNT</a>
                <a class="nav-link" href="/admin/pages/">ADMIN</a>
            </div>
        </div>
    </div>

</nav>
<div class="container">
    <%- messages ('messages', locals) %>
</div>
<script>
    $(function () {
        $(document).scroll(function () {
            const $nav = $("#mainNavbar2");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
    });
</script>