body {
    background: #ffffff;
    font-family: "Nunito", sans-serif;
}
#card1{
    display:block;
    height: 200px;
    width: 100px;
}
#card2{
    display:block;
    height: 20px;
    width: 10px;
    max-height: 100px;
    max-width: 100px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color:rgb(3, 10, 71);
}

#mainNavbar .nav-link:hover {
    color:red;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background-color: rgb(230, 228, 236);
    color: whitesmoke;
    transition: background-color 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
       
    }
    .blurb h2 {
        font-size: 2rem;
    }
}

footer{
    background-color: rgb(182, 189, 194);
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
footer:hover{
    color: rgb(153, 26, 26);
}
.creator{
    height: 80px;
    background-color: rgb(54, 59, 61);
    color: seashell ;
    }