<footer>
    <!-- <a href="" class="nav-link">DOPEBOI CLOTHING</a>
    <a href="" class="nav-link">SHIPPING</a>
    <a href="" class="nav-link">SHIPPING</a>
    <a href="" class="nav-link">CONTACTS</a>
    <a href="" class="nav-link">NEWSLETTER</a> -->

</footer>
</body>

</html>