<footer>
    <a href="" class="nav-link">DOPEBOI CLOTHING</a>
    <a href="" class="nav-link">SHIPPING</a>
    <a href="" class="nav-link">SHIPPING</a>
    <a href="" class="nav-link">CONTACTS</a>
    <a href="" class="nav-link">NEWSLETTER</a>

</footer>
<section class="creator">
    <p> ALL RIGHTS RESERVED. © 2021 DOPEBOIFRESHALLDAI.</p>

</section>
</body>

</html>