<footer class="main-footer">
    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row">
                <div class="service-column col-lg-4"><svg class="svg-icon service-icon">
                        <use xlink:href="/icons/orion-svg-sprite.svg#delivery-time-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Free shipping &amp; return</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over £300</p>
                    </div>
                </div>
                <div class="service-column col-lg-4"><svg class="svg-icon service-icon">
                        <use xlink:href="/icons/orion-svg-sprite.svg#money-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Money back guarantee</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">28 Days Money Back Guarantee</p>
                    </div>
                </div>
                <div class="service-column col-lg-4"><svg class="svg-icon service-icon">
                        <use xlink:href="/icons/orion-svg-sprite.svg#customer-support-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">0161-800-456-747</h6>
                        <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-6 bg-gray-300 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank"
                                title="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank"
                                title="facebook"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank"
                                title="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank"
                                title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a class="text-muted text-hover-primary" href="#" target="_blank"
                                title="vimeo"><i class="fab fa-vimeo"></i></a></li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
    <div id="bottompage" class="py-4 font-weight-dark bg-secondary-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <p id="bottompage2" class="mb-md-0"> © 2021 DBF. All rights reserved. Powered by ©BZ©.
                    </p>
                </div>
                <div class="col-md-6 ">
                    <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-end    ">
                        <li class="list-inline-item"><img class="w-2rem" src="/svg/visa.svg" height="30px" width="60px"
                                alt="..."></li>
                        <li class="list-inline-item"><img class="w-2rem" src="/svg/mastercard.svg" height="30px"
                                width="60px" alt="mastercard">
                        </li>
                        <li class="list-inline-item"><img class="w-2rem" src="/svg/paypal.svg" height="30px"
                                width="60px" alt="paypal imgage"></li>
                        <li class="list-inline-item"><img class="w-2rem" src="/svg/western-union.svg" height="30px"
                                width="60px" alt="western-union"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>