<nav class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top ">
    <div class="container-fluid">
        <a href="/home" class="navbar-brand">DOPEBOIFRESHALLDAI</a>

        <button class="navbar-toggler" data-toggle="collapse" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">SHOP</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">SIGN IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LOOKBOOK</a>
                </li>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
        </div>
    </div>
</nav>